body {
	background: #f1f1f1;
}
.dash-container {
	background: #ffffff;
	padding: 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	min-height: 700px;
}
table {
	
}
tbody {
	height: 600px;
}
tr {
   line-height: 25px;
   min-height: 25px;
   height: 25px;
}
td {
	width: 150px;
	cursor: pointer;
}
.delete-icon {
	float: right;
	padding-right: 10px;
	font-size: 18px;
	cursor: pointer;
}
.delete-icon:hover {
	color: #bd0000;
}
.modal-text {
	margin-top: 20px;
	font-size: 18px;
}
.modal-button-no {
	width: 150px;
	position: absolute;
    bottom: 15px;
    left: 34%
}
.modal-button-yes {
	width: 150px;
	position: absolute;
    bottom: 15px;
    left: 67%;
}
tr th {
	cursor: pointer;
}
.arrow-up {
	display: inline-block;
	margin-top: 5px;
	margin-right: 5px;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #910000;
}
.arrow-down {
	display: inline-block;
	margin-top: 5px;
	margin-right: 5px;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #910000;
}
#search-query {
	display: inline;
	width: 300px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    display: table;
    margin: 0 auto;
}
ul.pagination li {
	display: inline;
}
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination li a.active {
	color: #ffffff;
	background: #6c686b;
}
ul.pagination li a.active:hover {
	color: #ffffff;
	background: #8b878a;
}
ul.pagination li a:hover:not(.active) {
	background-color: ;
}